*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../ICONS&IMGS/64\ easy\ sweet\ breakfast\ recipes\ to\ put\ you\ in\ a\ good\ mood.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    transition: .8s;
}

/* HEADER PART */
header{
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}

.header--links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#german{
    font-size: 25px;
    font-weight: 600;
    font-variant: small-caps;
    font-family: monospace;
}

#links{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#links a{
    text-decoration: none;
    color: #101;
    padding-inline: 2rem;
    font-size: 17px;
    font-weight: 500;
}

#links a:hover{
    color: #301;
    text-shadow: 1px 2px 1px #301;
}

.search{
    display: flex;
    list-style: none;
}

#search_bar{
    border: 1px solid #101;
    width: 5cm;
    height: 1cm;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search button{
    border: 1px solid #101;
    height: 1cm;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* MAIN SECTION */
main section{
    margin-bottom: 2rem;
}

.homeTitle{
    color: #101;
    margin-bottom: 1rem;
}

/* SOME CSS FOR IMAGES */
.breakfastImages{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    width: 100%;
    position: relative;
    margin-top: 3rem;
    box-shadow: 8px 6px 6px #555;
}

.imageItem{
    position: relative;
    padding: .8rem;
    margin-inline: .5rem;
    display: grid;
}

.imageItem img{
    width: 100%;
    height: 5.5cm;
}

.imgText, #price{
    color: #301;
    text-wrap: wrap;
    font-style: oblique;
}

#price{
    top: 30%;
    position: absolute;
    left: 40%;
    font-size: 34px;
    font-weight: bold;
    display: none;
}

.imageItem:hover img{
    transition: .4s;
    opacity: .8;
    background: #fff;
    box-shadow: 3px 4px 2px #301;
}

.imageItem:hover #price{
    display: block;
    z-index: 40;
    transition: .4s;
}

.cartButton{
    padding: 1rem;
    color: #fff;
    background: #101;
    border: none;
    margin-top: .3rem;
}

.cartButton:hover{
    box-shadow: 2px 1px 1px #301;
    transition: .4s;
    background: #701;
}

/* DINNNER PART */
.dinnerImages{
    position: relative;
    width: 96%;
    height: auto;
    padding: 1rem;
}

.dinnerImages img{
    width: 12cm;
    height: 8cm;
}

.dinnerText{
    padding: 3rem;
    font-size: 19px;
    color: #101;
    right: 0;
}

.dinnerImage{
    padding: 1rem;
    background: transparent;
    display: inline-flex;
    box-shadow: 3px 2px 7px #301;
    margin-bottom: 1rem;
}

.dinnerButton{
    background: #101;
    color: #fff;
    padding: 1.3rem;
    border: none;
    outline: none;
}

.dinnerButton:hover{
    background: #301;
    transition: .4s;
    box-shadow: 3px 2px 5px #301;
}

.dinnerSwiper{
    overflow: hidden;
}

/* FOOTER PART */
.footerTitle{
    text-align: center;
    font-size: 20px;
}

footer{
    padding: 1rem 2rem;
    color: #fff;
    text-align: center;
}

.footerLinks{
    width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.footerLinks ul{
    list-style-type: none;
}

.footerLinks a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

.footerLinks a:hover{
    color: #701;
    text-shadow: 2px 4px 4px #701;
}

.footerLinks fieldset{
    padding: 1rem;
    border: 2px solid #301;
}

.footerLinks legend{
    font-weight: bold;
    font-style: oblique;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.smallnote{
    width: 9cm;
    margin-right: 4cm;
}

.follow ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 26px;
}

.follow ul i{
    font-size: 29px;
}

.copy{
    text-align: center;
    font-size: 20px;
    margin: 3rem;
}
