*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    color: #101;
}

body{
    background: url(../ICONS&IMGS/banana.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}


/* HEADER CSS PART */
header{
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}

.header--links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#german{
    font-size: 25px;
    font-weight: 600;
    font-variant: small-caps;
    font-family: monospace;
}

#links{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#links a{
    text-decoration: none;
    color: #101;
    padding-inline: 2rem;
    font-size: 17px;
    font-weight: 500;
}

#links a:hover{
    color: #301;
    text-shadow: 1px 2px 1px #301;
}

.search{
    display: flex;
    list-style: none;
}

#search_bar{
    border: 1px solid #101;
    width: 5cm;
    height: 1cm;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search button{
    border: 1px solid #101;
    height: 1cm;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* MAIN CSS */
main{
    padding: 1rem;
}

.heads{
    font-size: 27px;
    color: #301;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.awardsContainer p, .awardsContainer dl{
    font-size: 19px;
    text-align: center;
}

dl dd{
    margin-bottom: 1rem;
}

/* ACCORDION */
.faqsContainer{
    display: flex;
    justify-content: center;
}

.accordion{
    max-width: 800px;
}

.accordion .contextBx{
    position: relative;
    margin: 10px 20px;
}

.accordion .contextBx .label{
    position: relative;
    padding: 10px;
    background: #ffc;
    color: #101;
    cursor: pointer;
}

.accordion .contextBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordion .contextBx.active .label::before{
    content: '-';
}

.accordion .contextBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: .5s;
    overflow-y: auto;
}

.accordion .contextBx.active .content{
    height: 150px;
    padding: 10px;
    box-shadow: 2px 3px 10px #701;
}

/* PRIVACY */
.subTitles{
    font-size: 23px;
    color: #301;
    margin-bottom: .7rem;
    margin-top: 1.5rem;
}

.privacyContainer{
    font-size: 20px;
    padding: 2rem;
}

.slinks{
    text-decoration: none;
    color: #06f;
    font-style: oblique;
}

.slinks:hover{
    color: #0ef;
}

/* TERMS */
.termsContainer{
    display: flex;
}

.termsContainer p{
    font-size: 20px;
    color: #101;
}

.threeDivs{
    margin: 2rem;
}

/* FOOTER PART */
.footerTitle{
    text-align: center;
    font-size: 20px;
}

footer{
    padding: 1rem 2rem;
}

.footerLinks{
    width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.footerLinks ul{
    list-style-type: none;
}

.footerLinks a{
    text-decoration: none;
    color: #301;
    font-size: 18px;
    text-align: left;
}

.footerLinks a:hover{
    color: #701;
    text-shadow: 2px 4px 4px #701;
}

.footerLinks fieldset{
    padding: 1rem;
    border: 2px solid #301;
    min-width: 5cm;
}

.footerLinks legend{
    font-weight: bold;
    font-style: oblique;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.smallnote{
    width: 9cm;
    margin-right: 4cm;
}

.follow ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 26px;
}

.follow ul i{
    font-size: 29px;
}

.copy{
    text-align: center;
    font-size: 20px;
    margin: 3rem;
}
